.directory-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-title {
    text-align: center;
    font-size: 60px;
  }

  .construction-tag{
    text-align: center;
  }